/* for all pages */

body {
    text-align: center;
}

h3, h4 {
    border-bottom: 2px solid grey;
    border-bottom-style: double;
    padding: 20px;
}

h5 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

p {
    padding-top: 20px;
    text-indent: 30px;
    text-align: justify;
}

.col-6, .col-4 {
    float: left;
}

.col-6 {
    width: 60%;
}
.col-4 {
    width: 40%;
}


/* Footer */

.list-inline {
    padding-top: 20px;

}

.copyright {
    text-align: center;
    
}

/* index.html only*/
#nest-column {
    float:left;
    padding: 10px;
    width: 50%;  
}

.preview {
    width: 100%;
}

.h4-indx {
    padding-top: 25px;
}

/* comparison.html only */
.all-plot-img {
    width: 80%;
}

/* Visualization */
.vis-text {
    padding-top: 100px;
    
}